html{

}
body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #E8E8E8;
}
img{
	width: 34%;
}
#header-img{
	width: 50%;
	margin-left: 4rem;
}
header{
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
	background-color: red;
	top: 0;
	left: 0;
	right: 0;

	padding: 0.6rem;

	-webkit-box-shadow: 6px 9px 31px -4px rgba(0,0,0,0.16);
	-moz-box-shadow: 6px 9px 31px -4px rgba(0,0,0,0.16);
	box-shadow: 6px 9px 31px -4px rgba(0,0,0,0.16);
}
.container{
	padding: 2rem;
}
#logoName{
	padding: 0;
	margin: 0;
}
.rowTab{
	display: flex;
	overflow: auto;
}
#logo-row.leftRow{
	width: 38%;
	vertical-align: top;

}
#menu-row.rightRow{
	display: flex;
	width: 65%;
	float: right;
	vertical-align: middle;
	align-items: center;
}

ul{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

#menu-row li{
	float: right;
	font-weight: 700;
}

li a{
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

/*Hero Banner Container*/
#hero-banner.container{
	margin-top: 8rem;
	padding: 0.2rem;
}

	/*Image in Hero Banner Div*/
	#banner-img{
		width: 68%;
	}

	/*Left Row in Hero Banner Container*/
	#front-description.leftRow{
		margin-left: 5rem;
		padding-top: 5rem;
	}

	/*Right Row in Hero Banner Container*/
	#hero-banner-photo.rightRow{
		text-align: center;
	}


#product-container.container{
	margin: 2rem;
}

.product-area{
	text-align: center;
	padding: 1rem;
	background-color: #fff;
}
	#product-2.product-area{
		margin-right: 1rem;
		margin-left: 1rem;
	}

	#product-1.product-area{
		margin-right: 1rem;
	}
	#product-3.product-area{
		margin-left: 1rem;
	}
.product-area p{
	width: 100%;

}
.paragraph-wrap{
	padding: 2.5rem;
	padding-top: 0rem;
}

.product-area h4{
	font-size: 20px;
	margin-bottom: 1rem;
	margin-top: 0.7rem;
}



.product-area img{
	width: 55%;
}

.section-titles h2{
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*Video Container --How It Works-- */
#video-container.container{
	text-align: center;
	padding: 2rem;
}

#video{
	max-width: 100%;
}

/*Pricing Plan */

#pricing-plan.container{
	padding-left: 2rem;
	padding-right: 2rem;
	justify-content: center;
}

.price-plan{
	display: block;
	width: calc(100% / 3);
	margin: 1rem;
	border: 0px;
	border-radius: 5px;
	/*Drop Shadow*/
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
	.price-plan ol{
		margin: 0;
		padding: 0;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;

		text-align: center;
	}
	.price-plan li{
		display: block;
		max-width: 100%;
		padding-bottom: 1rem;
		font-weight: 600;
	}
	#plan-1.price-plan{
		margin-left: 3rem;
	}
	#plan-3.price-plan{
		margin-right: 3rem;
	}

	#plan-2.price-plan{
		margin-left: 3rem;
		margin-right: 3rem;
	}

.level-plan{
	background-color: red;
	color: white;
	text-align: center;

	padding: 0.5rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;

	border: 0px;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.level-plan h4{
	margin-top: 0rem;
	margin-bottom: 1.35rem;
}
h4.product-type{
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
}
.price-wrapper{
	text-align: center	;
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	margin-top: 1.65rem;
	margin-bottom: 1.85rem;
}

.price-wrapper h2{
	display: inline-block;
	font-size: 4.3rem;
	text-align: center;
	margin: 0;
	width: 65%;
}
.price-wrapper h4{
	display: inline-block;
	width: 15%;
	margin: 0;
	font-size: 1.5rem;
}

.button-wrapper{
	text-align: center;
	padding-bottom: 1.85rem;
}
	button.planBtn{
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: 84%;

		background-color: #f44336;
		color: white;
		font-weight: 600;
		letter-spacing: 0.2px;
		border: 0px;
		border-radius: 3px;

		cursor: pointer;
	}
	button.planBtn:hover{
		background-color: ;
	}

#register.container{
	background-color: #DCDCDC	;
}
#register.container h2{
	margin-top: 0rem;
}
	.form-container{
		padding: 2rem;
		padding-top: 1rem;
	}
	.leftRow,.rightRow{
		display: flex;
		flex: 1;
	}

	#form .rowTab{
		padding-bottom: 1rem;
	}
